@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/css/error404.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div id="page404">
            <button id="BackToDashboard" class="btn btn-light">Back To Dashboard</button>
        </div>
    </div>
</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/BackToDashboard.js"></script>
