html, body, header {
    height:100%;
    width: 100%;
}

/*.nav, .navbar, .flex-column {
	height: 100%;
}*/

#header {
	color: white;
}
.navbar-brand {
    font-size: 2rem;
}

 .nav {
	width: 100%;
}

.bg-light {
    background: rgba(255,146,10,1);
    background: -moz-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,192,76,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,146,10,1)), color-stop(100%, rgba(255,192,76,1)));
    background: -webkit-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,192,76,1) 100%);
    background: -o-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,192,76,1) 100%);
    /*background: -ms-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,192,76,1) 100%);*/
    background: linear-gradient(to bottom, rgba(255,146,10,1) 0%, rgba(255,192,76,1) 100%);
	
	height: 100%;
}

.row {
	height: 100%;
}

.category {
	background: rgb(255, 134, 10);
    border-radius: 4px;
	margin: 0;
    padding: 5px 5px 5px 15px;
}

.nav-link {
	border-bottom: 1px solid #49505726;

}

.fa-lg {
	color: orange;
	padding: 20px;
	font-size: 2rem;
}

main {
	padding: 0;
	margin: 0;
}




