.registerBody {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-fill-mode: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 550px;
    margin: auto;
    position: relative;
}

.registerClass {
    background: white;
    padding: 20px 25px;
    border: 3px solid #EC7423;
    border-radius: 5px;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    position: relative;
}

.col.s6 > .btn {
    color: white;
    background: #EC7423;
    border: 1px solid #EC7423;
    margin-left: -14px;
    margin-top: 10px;
    width: 39%;
    margin-left: 247px;
}

    .col.s6 > .btn:hover {
        color: #EC7423;
        border: 1px solid #EC7423;
        background: #FFF;
    }

.gender-male, .gender-female {
    display: inline-block;
    margin-left: -12px;
}

.gender-female {
    margin-left: 35px;
}

radio:required {
    border-color: red;
}



@keyframes showUp {
    0% {
        transform: scale(0);
    }

    100% {
        transoform: scale(1);
    }
}

.row {
    margin-bottom: 10px;
}

.ngl {
    position: absolute;
    top: -20px;
    right: -20px;
}

button, input {
    color: #000;
}
span{
    color: red !important;
}
